body{
  margin:0;
  padding:0;
  z-index:-99;
}
div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  z-index:0;
}

button {
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-family:"Oswald";
  border-radius: 10px;
  border: none;
  outline: none;
  background-image:
    linear-gradient(
    to bottom right,
    #404040 0%,
    #292929 100%);
  color: white;
  cursor: pointer;
  position: relative;
}

button:before, button:after{
  content:"";
  display:block;
  position:absolute;
  z-index:-1;
  inset:0;
      border-radius:10px;
}

button:after{
  background-color:#292929;
}

button:before{
  background-image:
    linear-gradient(
    to bottom right,
    #65c18c 0%,
    #c1f4c5 25%,
    #ffbed8 50%,
    #ff7ba9 100%);
  transition: transform 200ms;
}

button:hover:before,button:focus:before{
  transform: scale(1.1);
}
